body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .main-content {
    @apply bg-white dark:bg-gray-600;
    @apply min-h-screen max-h-full grid grid-flow-row grid-cols-1	 justify-center justify-items-center items-center gap-5;
    grid-template-rows: max-content 1fr;
    @apply px-5;
    & > :first-child {
      @apply -mx-5;
    }
  }
}

.spinner {
  animation: spin infinite 2.5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
