html {
	min-height: 100%;
	min-height: 100dvh;
	height: 100%;
	height: 100dvh;
}

body {
	@apply font-sans antialiased dark:text-white text-black bg-white dark:bg-gray-600 min-h-full h-full max-h-max;
	& > :first-child,
	.main-content {
		@apply min-h-full h-full max-h-max w-full;
	}
	.main-content {
		@apply grid grid-flow-row grid-cols-1 justify-center justify-items-center items-center gap-5;
		grid-template-rows: 1fr;
		&:has(header) {
			grid-template-rows: max-content 1fr;
			@apply pt-14 md:pt-20;
			& > :first-child {
				@apply -mx-5;
			}
		}
	}
}

.spinner {
	@apply flex justify-center items-center;
	svg {
		animation: spin 2.5s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.v {
	&-enter-active {
		@apply transition ease-out duration-200 transform;
	}
	&-enter-from {
		@apply opacity-0;
	}
	&-enter-to {
		@apply opacity-100;
	}
	&-leave-active {
		@apply transition ease-in duration-200 transform;
	}
	&-leave-from {
		@apply opacity-100;
	}
	&-leave-to {
		@apply opacity-0;
	}
}

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
	background-color: #4b5563;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 5px solid transparent;
	background-clip: content-box;
	background-color: #1f2937;
}

a[href^='magnet:?'] {
	@apply inline-block;
	img {
		@apply mx-auto;
	}
}
